body{
    margin: 0;
    background-color: aquamarine;
}
#div1{
    width: 30%;
    height: 200px;
    background-color: lightgray;
    position: absolute;
    border-radius: 10px;
    left: 35%;
    top: 25%;
}
#kullaniciAdi{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}
#parola{
    width: 150px;
    height: 30px;
    margin-left: 66px;
    margin-top: 20px;
}
#btn{
    position: absolute;
    right: 118px;
    background-color: green;
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: 1.5px;
}
